<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>LifeHubApplication</display-name>
  <welcome-file-list>
    <welcome-file>FindNeighborhood.jsp</welcome-file>
  </welcome-file-list>

<!--  <servlet>-->
<!--    <servlet-name>FindUser</servlet-name>-->
<!--    <servlet-class>lifeHub.servlets.FindUser</servlet-class>-->
<!--  </servlet>-->
<!--  <servlet-mapping>-->
<!--    <servlet-name>FindUser</servlet-name>-->
<!--    <url-pattern>/finduser/*</url-pattern>-->
<!--  </servlet-mapping>-->

  <servlet>
    <servlet-name>FindPet</servlet-name>
    <servlet-class>lifeHub.servlets.FindPet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindPet</servlet-name>
    <url-pattern>/findpet/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>FindRestaurant</servlet-name>
    <servlet-class>lifeHub.servlets.FindRestaurantServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindRestaurant</servlet-name>
    <url-pattern>/findrestaurant/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>FindPark</servlet-name>
    <servlet-class>lifeHub.servlets.FindParkServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindPark</servlet-name>
    <url-pattern>/findpark/*</url-pattern>
  </servlet-mapping>

</web-app>